__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

# Large video files (too big for GitHub)
*.mp4

# Virtual environment
transcribe-env/

# Node modules
node_modules/
